.jacket{
    background-color: #f9f9f9;
    .container{
        display: flex;
    .jacket-img{
       img{
        height: 700px;
       }

    }

    .jacket-text{
        padding-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 80px;
        }
    }
}
}