.footer-container{
    display: flex;
    gap: 50px;
    .footer-link{
        text-align: center;
        ul{
            display: flex;
        flex-direction: column;
        gap: 20px;
        a{
            color: rgb(181, 177, 177);
        }
        }
    }

}

.footer-icon{
    display: flex;
    justify-content: space-around;
    ul{
        display: flex;
        gap: 20px;
        li{
            font-size: 20px;
        }
    }
}